
.App {
  text-align: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.firebaseui-card-content form {
  margin-top: 0;
  padding-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
} 

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}


#photo-container {
  max-width: 250px;
  max-height: 100px;
}

.image {
  max-width: 250px;
  max-height: 250px;
  margin-top: -1rem;
}

.avatar-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5%;
  margin: 1rem;
}

.button-container {
  margin: 1rem;
}

.button-box {
  margin-top: -3rem;
}

.container {
  padding: 1rem;
}

/* span {
  color: lightgreen;
  font-size: 35px;
} */
.protein {
  color: red;
}

.cheese {
  color: orange;
}

.topping {
  color: yellow;
}

.tortilla {
  color: blue;
}

